{
 "extends": ["next", "next/core-web-vitals"],

 "rules": {
  "no-unused-vars": "error",
  "no-console": "error",
  "react-hooks/exhaustive-deps": "off",
  "@typescript-eslint/camelcase": ["off"]
 },

 "parserOptions": {
  "sourceType": "module",
  "ecmaVersion": 2020
 }
}
